:root{
    --clr-green:#00ff00;
    --clr-white: #ffff;
    --clr-red:rgb(220, 53, 69);
    --clr-purple:rgb(102, 51, 153);
    --clr-blue:rgb(0, 102, 204);
    --clr-gold:rgb(255, 215, 0);
    --clr-backround: hsl(235, 67%, 4%);
    --clr-content: #171b2c;
    --fs-S: 1rem;
    --fs-M: 1.5rem;
    --fs-M2: 1.7rem;
    --fs-L: 1.8rem;
    --fs-XL: 4.8rem;
    --margin-gap: 5px;
}
.container {
    --max-width: 1860px;
    --padding: 1rem;
    display: flex;
    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
    gap: 18px;
    flex-wrap: wrap;
}

.main-header {
    font-size: var(--fs-L);
    color: var(--clr-white);
    text-align: center;
    flex: 1;
    font-weight: 550;
    margin: 10px 0px 18px
}
.dashboard{
    width: min(60vh, 95%);
    min-height: 30vh;
    font-size: var(--fs-XL);
    color: var(--clr-white);
    font-weight: 600;
    
    background-color: var(--clr-content);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    line-height: 1.1;
}
.center-item{
    background-color: var(--clr-content);
    text-align: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
    min-width: min(20vh, 250px);
    min-height: 30vh;
    display: flex;
    flex-direction: column;
}
.dashboard-amount {
    color: var(--clr-white);
    font-size: var(--fs-L);
    font-weight:550;
    margin-top: 12%;
}
.dashboard-category{
    font-size: var(--fs-M);
    margin-top:5%;
}
.positive-text{
    color: var(--clr-green);
}
.negative-text{
    color: var(--clr-red);
}
.debt-text{
    color: var(--clr-purple);
}
.invest-text{
    color: var(--clr-blue);
}
.save-text{
    color: var(--clr-gold);
}
.section-label{
    font-size: var(--fs-L);
}
.table-container{
    width: min(60vh, 95%);
    min-height: 35vh;
    font-size: var(--fs-S);
    color: var(--clr-white);
    background-color: var(--clr-content);
    align-items: center;
    flex-direction: column;
    line-height: 1.1;
    display: flex;
}
table{
    width: 100%;
}
.table-data{
width: 95%;
border-collapse: collapse;
margin: 0 auto;
}
td{
    text-align: center;
    padding: 10px 0px;
    border-top: #272226 2px solid;
}
th{
    font-weight: 700;
    padding: 4px 0px;
    font-size: 22px;
}
.left-align{
    text-align: left;
    border-right: #272226 2px solid;;
}
.main-content{
    min-width: min(65vh);
    min-height: 40vh;
    font-size: var(--fs-S);
    color: var(--clr-white);
    flex: 1;
    background-color: var(--clr-content);
    display: flex;
    line-height: 1.1;
}
.block-one {
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    padding: 4px 1px 1px 1px;
    text-align: center;
}
.block-two {
    max-height: 100%;
    min-width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

canvas {
    max-width: 90%;
    max-height: 80%;
}

.block-three {
    height: 100%;
    width: 32%;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    margin-right: 14px;
    padding-left: 30px;
}
.block-container {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
    font-size: var(--fs-S);
    text-align: center;
    flex: 1;
}
.bar-graph {
    min-height: 25%;
    min-width: 100%;
    justify-content: center;
    text-align: center;
}
.money-text {
    font-size: var(--fs-M2);
    font-weight:550;
}
.block-container-two {
    margin: 15px;
    line-height: 1.8;
    font-size: var(--fs-S);
    text-align: left;
    flex: 1;
    line-height: 5ch;
}