{% extends "layout.html" %}
{% block content %}
<!-- register.html -->
<div class="content-section">
    <form class="mx-auto" method="POST" action="">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
        <h4 class="text-center">Register</h4>

        <!-- Email Field -->
        <div class="mb-3 mt-5">
            {{ form.email.label(class="form-label") }}

            {% if form.email.errors %}
                {{ form.email(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control") }}
            {% endif %}
        </div>

        <!-- Password Field -->
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
        </div>

        <!-- Confirm Password Field -->
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.confirm_password(class="form-control") }}
        {% endif %}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-5">{{ form.submit.label }}</button>

        <!-- Link to Login Page -->
        <p class="mt-4">Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a></p>
    </form>
</div>
{% endblock content%}