{% extends "layout.html" %}
{% block content %}
<!-- register.html -->
<div class="content-section">
    <form class="mx-auto" method="POST" action="">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
        <h4 class="text-center">Register</h4>

        <!-- Email Field -->
        <div class="mb-3 mt-5">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", id="exampleInputEmail1") }}
        </div>

        <!-- Password Field -->
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", id="exampleInputPassword1") }}
        </div>

        <!-- Confirm Password Field -->
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control", id="exampleInputPassword2") }}
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-5">{{ form.submit.label }}</button>

        <!-- Link to Login Page -->
        <p class="mt-4">Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a></p>
    </form>
</div>
{% endblock content%}